requests>=2.31.0
PyYAML>=6.0.1
pandas>=2.2.2
python-dotenv>=1.0.1
jmespath>=1.0.1
parsel>=1.9.1
nested-lookup>=0.2.25
playwright>=1.49.0
selenium
webdriver-manager
jmespath
parsel
nested-lookup
playwright